In [5]:
import pandas as pd

# Load the CSV file (change filename if different)
df = pd.read_csv('C:/Users/Bavaniii/Downloads/health-nutrition-recommender/data/raw/food.csv')

# Show first 5 rows
df.head()

,Category,Description,Nutrient Data Bank Number,Data.Alpha Carotene,Data.Beta Carotene,Data.Beta Cryptoxanthin,Data.Carbohydrate,Data.Cholesterol,Data.Choline,Data.Fiber,...,Data.Major Minerals.Phosphorus,Data.Major Minerals.Potassium,Data.Major Minerals.Sodium,Data.Major Minerals.Zinc,Data.Vitamins.Vitamin A - RAE,Data.Vitamins.Vitamin B12,Data.Vitamins.Vitamin B6,Data.Vitamins.Vitamin C,Data.Vitamins.Vitamin E,Data.Vitamins.Vitamin K
0,Milk,"Milk, human",11000000,0,7,0,6.89,14,16.0,0.0,...,14,51,17,0.17,61,0.05,0.011,5.0,0.08,0.3
1,Milk,"Milk, NFS",11100000,0,4,0,4.87,8,17.9,0.0,...,103,157,39,0.42,59,0.56,0.060,0.1,0.03,0.2
2,Milk,"Milk, whole",11111000,0,7,0,4.67,12,17.8,0.0,...,101,150,38,0.41,32,0.54,0.061,0.0,0.05,0.3
3,Milk,"Milk, low sodium, whole",11111100,0,7,0,4.46,14,16.0,0.0,...,86,253,3,0.38,29,0.36,0.034,0.9,0.08,0.3
4,Milk,"Milk, calcium fortified, whole",11111150,0,7,0,4.67,12,17.8,0.0,...,101,150,38,0.41,32,0.54,0.061,0.0,0.05,0.3

In [6]:
# Check column names
df.columns

Index(['Category', 'Description', 'Nutrient Data Bank Number',
       'Data.Alpha Carotene', 'Data.Beta Carotene', 'Data.Beta Cryptoxanthin',
       'Data.Carbohydrate', 'Data.Cholesterol', 'Data.Choline', 'Data.Fiber',
       'Data.Lutein and Zeaxanthin', 'Data.Lycopene', 'Data.Niacin',
       'Data.Protein', 'Data.Retinol', 'Data.Riboflavin', 'Data.Selenium',
       'Data.Sugar Total', 'Data.Thiamin', 'Data.Water',
       'Data.Fat.Monosaturated Fat', 'Data.Fat.Polysaturated Fat',
       'Data.Fat.Saturated Fat', 'Data.Fat.Total Lipid',
       'Data.Major Minerals.Calcium', 'Data.Major Minerals.Copper',
       'Data.Major Minerals.Iron', 'Data.Major Minerals.Magnesium',
       'Data.Major Minerals.Phosphorus', 'Data.Major Minerals.Potassium',
       'Data.Major Minerals.Sodium', 'Data.Major Minerals.Zinc',
       'Data.Vitamins.Vitamin A - RAE', 'Data.Vitamins.Vitamin B12',
       'Data.Vitamins.Vitamin B6', 'Data.Vitamins.Vitamin C',
       'Data.Vitamins.Vitamin E', 'Data.Vitamins.Vitamin K'],
      dtype='object')

In [7]:
# See if any columns have missing data
df.isnull().sum()

Category                          0
Description                       0
Nutrient Data Bank Number         0
Data.Alpha Carotene               0
Data.Beta Carotene                0
Data.Beta Cryptoxanthin           0
Data.Carbohydrate                 0
Data.Cholesterol                  0
Data.Choline                      0
Data.Fiber                        0
Data.Lutein and Zeaxanthin        0
Data.Lycopene                     0
Data.Niacin                       0
Data.Protein                      0
Data.Retinol                      0
Data.Riboflavin                   0
Data.Selenium                     0
Data.Sugar Total                  0
Data.Thiamin                      0
Data.Water                        0
Data.Fat.Monosaturated Fat        0
Data.Fat.Polysaturated Fat        0
Data.Fat.Saturated Fat            0
Data.Fat.Total Lipid              0
Data.Major Minerals.Calcium       0
Data.Major Minerals.Copper        0
Data.Major Minerals.Iron          0
Data.Major Minerals.Magnesium     0
Data.Major Minerals.Phosphorus    0
Data.Major Minerals.Potassium     0
Data.Major Minerals.Sodium        0
Data.Major Minerals.Zinc          0
Data.Vitamins.Vitamin A - RAE     0
Data.Vitamins.Vitamin B12         0
Data.Vitamins.Vitamin B6          0
Data.Vitamins.Vitamin C           0
Data.Vitamins.Vitamin E           0
Data.Vitamins.Vitamin K           0
dtype: int64

In [8]:
df = df[['food_name', 'calories', 'protein_g', 'fat_g', 'carbs_g']]
df.head()

KeyError: "None of [Index(['food_name', 'calories', 'protein_g', 'fat_g', 'carbs_g'], dtype='object')] are in the [columns]"

In [9]:
df_clean = df.dropna()
df_clean.head()

,Category,Description,Nutrient Data Bank Number,Data.Alpha Carotene,Data.Beta Carotene,Data.Beta Cryptoxanthin,Data.Carbohydrate,Data.Cholesterol,Data.Choline,Data.Fiber,...,Data.Major Minerals.Phosphorus,Data.Major Minerals.Potassium,Data.Major Minerals.Sodium,Data.Major Minerals.Zinc,Data.Vitamins.Vitamin A - RAE,Data.Vitamins.Vitamin B12,Data.Vitamins.Vitamin B6,Data.Vitamins.Vitamin C,Data.Vitamins.Vitamin E,Data.Vitamins.Vitamin K
0,Milk,"Milk, human",11000000,0,7,0,6.89,14,16.0,0.0,...,14,51,17,0.17,61,0.05,0.011,5.0,0.08,0.3
1,Milk,"Milk, NFS",11100000,0,4,0,4.87,8,17.9,0.0,...,103,157,39,0.42,59,0.56,0.060,0.1,0.03,0.2
2,Milk,"Milk, whole",11111000,0,7,0,4.67,12,17.8,0.0,...,101,150,38,0.41,32,0.54,0.061,0.0,0.05,0.3
3,Milk,"Milk, low sodium, whole",11111100,0,7,0,4.46,14,16.0,0.0,...,86,253,3,0.38,29,0.36,0.034,0.9,0.08,0.3
4,Milk,"Milk, calcium fortified, whole",11111150,0,7,0,4.67,12,17.8,0.0,...,101,150,38,0.41,32,0.54,0.061,0.0,0.05,0.3

In [11]:
df_clean.to_csv('C:/Users/Bavaniii/Downloads/health-nutrition-recommender/data/processed/foods_clean.csv', index=False)

In [12]:
def daily_calorie_need(sex, weight_kg, height_cm, age, activity_factor=1.2):
    # Harris-Benedict equation
    if sex.lower() in ['male','m']:
        bmr = 88.362 + 13.397*weight_kg + 4.799*height_cm - 5.677*age
    else:
        bmr = 447.593 + 9.247*weight_kg + 3.098*height_cm - 4.330*age
    return bmr * activity_factor

# Example: Female, 55kg, 160cm, 25 years, light activity
calories_needed = daily_calorie_need('female', 55, 160, 25, 1.375)
print("Daily calories needed:", int(calories_needed))

Daily calories needed: 1847

In [13]:
# Keep only relevant columns
df = df[['Description', 'Data.Carbohydrate', 'Data.Protein', 'Data.Fat.Total Lipid']]
df.head()

,Description,Data.Carbohydrate,Data.Protein,Data.Fat.Total Lipid
0,"Milk, human",6.89,1.03,4.38
1,"Milk, NFS",4.87,3.34,1.99
2,"Milk, whole",4.67,3.28,3.20
3,"Milk, low sodium, whole",4.46,3.10,3.46
4,"Milk, calcium fortified, whole",4.67,3.28,3.20

In [14]:
df['Calories'] = df['Data.Protein']*4 + df['Data.Carbohydrate']*4 + df['Data.Fat.Total Lipid']*9
df.head()

C:\Users\Bavaniii\AppData\Local\Temp\ipykernel_20452\657177361.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Calories'] = df['Data.Protein']*4 + df['Data.Carbohydrate']*4 + df['Data.Fat.Total Lipid']*9

,Description,Data.Carbohydrate,Data.Protein,Data.Fat.Total Lipid,Calories
0,"Milk, human",6.89,1.03,4.38,71.10
1,"Milk, NFS",4.87,3.34,1.99,50.75
2,"Milk, whole",4.67,3.28,3.20,60.60
3,"Milk, low sodium, whole",4.46,3.10,3.46,61.38
4,"Milk, calcium fortified, whole",4.67,3.28,3.20,60.60

In [15]:
df_clean = df.rename(columns={
    'Description': 'food_name',
    'Data.Carbohydrate': 'carbs_g',
    'Data.Protein': 'protein_g',
    'Data.Fat.Total Lipid': 'fat_g'
})
df_clean = df_clean[['food_name', 'Calories', 'protein_g', 'fat_g', 'carbs_g']]
df_clean.head()

                        food_name  Calories  protein_g  fat_g  carbs_g
0                     Milk, human     71.10       1.03   4.38     6.89
1                       Milk, NFS     50.75       3.34   1.99     4.87
2                     Milk, whole     60.60       3.28   3.20     4.67
3         Milk, low sodium, whole     61.38       3.10   3.46     4.46
4  Milk, calcium fortified, whole     60.60       3.28   3.20     4.67

In [16]:
df_clean.to_csv('C:/Users/Bavaniii/Downloads/health-nutrition-recommender/data/processed/foods_clean.csv', index=False)

In [17]:
import pandas as pd

# Load the cleaned data
df = pd.read_csv('C:/Users/Bavaniii/Downloads/health-nutrition-recommender/data/processed/foods_clean.csv')
df.head()

                        food_name  Calories  protein_g  fat_g  carbs_g
0                     Milk, human     71.10       1.03   4.38     6.89
1                       Milk, NFS     50.75       3.34   1.99     4.87
2                     Milk, whole     60.60       3.28   3.20     4.67
3         Milk, low sodium, whole     61.38       3.10   3.46     4.46
4  Milk, calcium fortified, whole     60.60       3.28   3.20     4.67

In [18]:
def daily_calorie_need(sex, weight_kg, height_cm, age, activity_factor=1.2):
    if sex.lower() in ['male','m']:
        bmr = 88.362 + 13.397*weight_kg + 4.799*height_cm - 5.677*age
    else:
        bmr = 447.593 + 9.247*weight_kg + 3.098*height_cm - 4.330*age
    return bmr * activity_factor

# Example user
calories_needed = daily_calorie_need('female', 55, 160, 25, 1.375)
print("Daily calories needed:", int(calories_needed))

Daily calories needed: 1847

In [19]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

# Create target vector
target = np.array([[calories_needed, 0, 0, 0]])  # Calories, Protein, Fat, Carbs (others 0 for now)

# Create feature matrix from dataset
features = df[['Calories', 'protein_g', 'fat_g', 'carbs_g']].fillna(0).to_numpy()

# Compute cosine similarity
sims = cosine_similarity(target, features)[0]

# Add similarity scores to dataframe
df['similarity'] = sims

# Get top 10 recommended foods
top_recs = df.sort_values('similarity', ascending=False).head(10)
top_recs[['food_name', 'Calories', 'protein_g', 'fat_g', 'carbs_g']]

                             food_name  Calories  protein_g  fat_g  carbs_g
3101                       Mixed seeds    621.25      21.96  49.61    21.73
3049                     Peanut butter    639.10      22.50  51.10    22.30
3050       Peanut butter, lower sodium    640.32      22.21  51.36    22.31
2998                Almonds, unroasted    620.17      21.15  49.93    21.55
4591           Cheese quiche, meatless    366.24      12.26  29.32    13.33
644   Beer cheese soup, made with milk    189.71       6.19  15.43     6.52
4590          Spinach quiche, meatless    300.41      10.55  23.53    11.61
3024                      Peanuts, NFS    629.38      24.35  49.66    21.26
3029      Peanuts, dry roasted, salted    629.38      24.35  49.66    21.26
3031    Peanuts, dry roasted, unsalted    629.38      24.35  49.66    21.26